<!DOCTYPE html>

<html>

<head>
<title>BMI</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" 
href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" 
integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" 
crossorigin="anonymous" />
</head>
<body>
<section class="vh-100 bg-image"
  style="">
  <div class="mask d-flex align-items-center h-100 gradient-custom-3">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-9 col-lg-7 col-xl-6">
          <div class="card" style="border-radius: 15px;">
            <div class="card-body p-5">
              <h2 class="text-uppercase text-center mb-5">BMI CALCULATION</h2>
				
              <form action="cal" method="POST">
              
              

                <div class="form-outline mb-4">
                  <input type="text" id="form3Example1cg" class="form-control form-control-lg" name="firstName" required/>
                  <label class="form-label" for="form3Example1cg">First Name</label>
                </div>
                
                <div class="form-outline mb-4">
                  <input type="text" id="form3Example1cg" class="form-control form-control-lg" name="lastName" required/>
                  <label class="form-label" for="form3Example1cg">Last Name</label>
                </div>
                
                <div class="form-outline mb-4">
                  <input type="date" id="form3Example1cg" class="form-control form-control-lg" name="dateOfBirth" required/>
                  <label class="form-label" for="form3Example1cg">Date of Birth</label>
                </div>
                <div class="form-outline mb-4">
                  <input type="text" id="form3Example1cg" class="form-control form-control-lg" name="gender" required/>
                  <label class="form-label" for="form3Example1cg">Gender</label>
                </div>
                <div class="form-outline mb-4">
                  <input  type="number" step="any" id="form3Example3cg" class="form-control form-control-lg" name="weight" required/>
                  <label class="form-label" for="form3Example3cg">Weight</label>
                </div>
                
                <div class="form-outline mb-4">
                  <input  type="number" step="any" id="form3Example3cg" class="form-control form-control-lg" name="height" required/>
                  <label class="form-label" for="form3Example3cg">Height</label>
                </div>

   
                <div class="d-flex justify-content-center">
                  <button type="submit" name="Cal"
                    class="btn btn-success btn-block btn-lg gradient-custom-4 text-body">Calculate BMI</button>
                   
                </div>
                	
                <label class="form-label" for="form3Example4cdg">					</label>
                
               

         
              </form>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


</body>
</html>
